body {
  background-image: url("../img/17580.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
  margin-left: auto;
}
.open {
  height: 650px;
  background-image: url("../img/5685407.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.mainheading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-align: right;
  margin-right: 50px;
  padding-top: 100px;
}
.loginbtn {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}
.loginbtn:hover {
  background-color: rgb(111, 0, 255);
  color: white;
}
.submit {
  border: 2px solid black;
}
.cont1 {
  width: 100px;
  margin-left: 1100px;
  margin-top: 250px;
  display: flex;
}
.turftab {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
.turfhead {
  text-align: center;
}
.parent {
  background-image: linear-gradient(rgb(85, 0, 134), rgb(35, 0, 81));
  width: 30%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  flex-direction: column;
  padding: 35px;
}
.c1 {
  color: white;
  margin-left: 40px;
}
.mainb {
  margin-top: 10%;
}
