body {
  background-image: url(../img/17580.jpg);
  background-size: 100% 180%;
  background-repeat: no-repeat;
  object-fit: cover;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(203, 203, 203);
}
::-webkit-scrollbar-thumb {
  background: #6800ab;
}

.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-weight: bold !important;
  color: black !important;
  transition: transform 0.1s !important;
}
.nav-link:hover {
  color: #6800ab !important;
  transform: scale(1.1) !important;
}
.logo {
  width: 2.7%;
  height: 2.7%;
}

.open {
  background-image: url("../img/snapedit_1708180367495.jpg");
  background-size: 100% 100%;
  margin-top: 20px;
  border-radius: 20px;
  width: 70%;
  margin: 50px auto;
  height: 80%;
}

.mainheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 12%;
  transition: transform 0.2s;
}
.mainheading:hover {
  transform: scale(1.05);
}
.mainpara {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.loginbtn1 {
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 7px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #019863;
  margin-left: -50px;
  transition: transform 0.1s;
}

.loginbtn2 {
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  padding: 5px 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: white;
  margin: 0 10px;
  transition: transform 0.1s;
}

.loginbtn1:hover {
  background-color: rgb(255, 255, 255);
  color: #019863;
  transform: scale(1.05);
}
.loginbtn2:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transform: scale(1.05);
}

.submit {
  border: 2px solid black;
}
.cont1 {
  width: 100px;
  margin-left: 500px;
  padding-top: 50px;
  padding-bottom: 12%;
  display: flex;
}
.turftab {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
.turfhead {
  text-align: center;
}
.parent {
  background-image: linear-gradient(rgb(85, 0, 134), rgb(35, 0, 81));
  border-radius: 10px;
  width: 35%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  flex-direction: column;
  padding: 25px;
  box-shadow: 2px 3px 10px #220039;
}
.formimg {
  width: 8%;
  height: 8%;
  margin-left: 58%;
  margin-top: -36%;
}
.loginimg {
  width: 8%;
  height: 8%;
  margin-left: 27%;
  margin-top: -15%;
}
.c1 {
  color: white;
  margin-left: 40px;
}
.mainb {
  margin-top: 10%;
}
.reviewsec {
  border: 2px solid black;
}
.secbody {
  width: 90%;
  margin: 0 auto;
}
.smallsec {
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.207);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.286);
}
.revname {
  font-weight: bold;
  font-size: 20px;
}
.revdesc {
  background-color: rgba(255, 255, 255, 0.693);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.about {
  font-family: "Poppins", sans-serif;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.634);
  border-radius: 50%;
}
.aboutpara {
  font-weight: 500;
}
.aboutspan {
  color: #6800ab;
  font-weight: 600;
}
.aboutimg {
  height: 30%;
  width: 30%;
  border-radius: 130px;
}
.features {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #6800ab;
  padding: 40px 20px;
  color: white;
}

.feabox {
  background-color: white;
  color: #1f0034;
  width: 60%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.2s;
}
.feahead {
  color: #6800ab;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}
.feahead:hover {
  color: white;
}
.feabox:hover {
  background-color: #220039;
  color: white;
  transform: scale(1.05);
}
.feaflex {
  display: flex;
  column-gap: 10px;
}

.contact {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.footer {
  text-align: center;
  background-color: #6800ab;
  color: #ffffff;
  height: 14rem;
  padding-top: 1.5rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.footerlist {
  text-decoration: none;
  list-style: none;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  color: black;
}
