<!-- dashboard.html -->
{% extends 'layout.html' %} {% block title %} Dashboard {% endblock title %} {%
block body %}
<h1 class="turfhead">Login success!</h1>
<h4 class="turfhead">Welcome, {{ username }}!</h4>

<div class="turftab">
  <h2 class="turfhead">Turfs</h2>
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Turf Name</th>
        <th>Turf Location</th>
        <th>Turf Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for turf in turfs %}
      <tr>
        <td>{{ turf.turf_name }}</td>
        <td>{{ turf.turf_location }}</td>
        <td>{{ turf.turf_phone }}</td>
        <td>
          <a class="btn btn-success" href="{{ url_for('turf_detail', turf_id=turf.id) }}"> Select
        </a>
        </td>
        <td>
          <a class="btn btn-success" href="{{ url_for('turf_reviews', turf_id=turf.id) }}">Turf Reviews</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
