<!-- dashboard.html -->
{% extends 'layout.html' %} {% block title %} Dashboard {% endblock title %} {%
block body %}
<h1 class="turfhead">Login success!</h1>
<h4 class="turfhead">Welcome, {{ username }}!</h4>


<div class="turftab">
  <form action="{{ url_for('search_turfs') }}" method="GET">
    <div class="turftab" class="input-group">
      <div class="form-outline" data-mdb-input-init>
        <input
          type="search"
          id="form1"
          class="form-control"
          name="location"
          placeholder="Enter location"
        />
        <!-- <label class="form-label" for="form1">Search Turfs</label> -->
      </div>
      <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

    <h2 class="turfhead">Turfs</h2>
      
      <div class="dashbrd row">
        {% for turf in turfs %}
        <div class="turfcard col-md-5 mx-3 my-3">
          <div class="turfname">Name: {{ turf.turf_name }}</div>
          <div class="turfloc">Location: {{ turf.turf_location }}</div>
          <div class="turfph">Phone: {{ turf.turf_phone }}</div>
        
          <div>
            <a
              class="selbtn"
              href="{{ url_for('turf_detail', turf_id=turf.id) }}"
            >
              Select
            </a></div>
          
          
            <div><a
              class="revbtn"
              href="{{ url_for('turf_reviews', turf_id=turf.id) }}"
              >View Reviews</a
            ></div>
            
          
          </div>
          <br>
        {% endfor %}
      </div>
      
</div>

  {% endblock body %}
</div>
