<!-- host_game.html -->
{% extends 'layout.html' %}
{% block title %} Host a Game {% endblock title %}
{% block body %}
    <h1>Host a Game on {{ turf.turf_name }}</h1>
    <form method="POST" action="">
        <label for="host_phone">Host Phone:</label>
        <input type="text" id="host_phone" name="host_phone" required>
        
        <label for="game_date">Game Date:</label>
        <input type="date" id="game_date" name="game_date" required>

        <label for="game_time">Game Time:</label>
        <input type="time" id="game_time" name="game_time" required>

        <label for="sports">Sport:</label>
        <input type="text" id="sports" name="sports" required>

        <input type="submit" value="Host Game">
    </form>
{% endblock body %}
