{% extends 'layout.html' %} {% block title %} Join Game {% endblock title %} {%
block body %}
<h1 class="turfhead">Join Game on {{ turf.turf_name }}</h1>
<div class="turfhead">
  <p style="font-weight: bold">
    Host Name: {{game.host_name}}
    <br />
    Host Phone: {{ game.host_phone }}
    <br />
    Sport: {{game.sports}}
  </p>
</div>

<!-- Display Players List -->
<div class="turftab">
  <h2>Players List</h2>
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for player in game.players %}
      <tr>
        <td>{{ player.player_name }}</td>
        <td>{{ player.player_address }}</td>
        <td>{{ player.player_phone }}</td>
        <td>
          {% if current_user.username == game.host_name %}
          <form
            method="POST"
            action="{{ url_for('remove_player', player_id=player.id) }}"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger">Remove</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <br />

  <button
    class="btn btn-primary"
    id="toggleJoinGameFormBtn"
    onclick="toggleJoinGameForm()"
  >
    Join Game
  </button>
  <br />
  <br />
  <!-- Join Game Form -->
  <div id="joinGameFormContainer" style="display: none">
    <h4>Enter your details</h4>
    <form method="POST" action="">
      <label for="player_address">Your Address:</label>
      <input
        type="text"
        id="player_address"
        name="player_address"
        placeholder="Enter address"
        required
      />

      <label for="player_phone">Your Phone:</label>
      <input
        type="text"
        id="player_phone"
        name="player_phone"
        placeholder="Enter phone number"
        required
      />
      <br />
      <br />
      <input class="btn btn-success" type="submit" />
    </form>
  </div>
</div>

<script>
  function toggleJoinGameForm() {
    var formContainer = document.getElementById("joinGameFormContainer");
    if (formContainer.style.display === "none") {
      formContainer.style.display = "block";
    } else {
      formContainer.style.display = "none";
    }
  }
</script>

{% endblock body %}
