{% extends 'layout.html' %} {% block title %} Sign Up {% endblock title %} {%
block body %}
<div class="mainb">
  <h1 class="turfhead">Sign-Up page</h1>
  <form method="POST" action="">
    <div class="parent">
      <div class="c1">{{form.hidden_tag() }} Username: {{form.username}}</div>
      <br />
      <div class="c1" class="c2">
        Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{form.email}}
        <br />
        <br />
        Password:&nbsp; {{form.password}}
      </div>
      <br />

      {{form.submit}}
    </div>
    <img class="formimg" src="../static/img/ron-sitting-1.png" alt="" />
  </form>
  <br />
  <a style="margin-left: 650px" href="{{url_for('login')}}"
    >Already have an Account? Login</a
  >
</div>
{% endblock body %}
