{% extends 'layout.html' %}
{% block title %} Sign Up {% endblock title %}
{% block body %}
        <h1 class="turfhead" >Sign-Up page</h1>
        <form method="POST" action="">
            <div class="parent">
                <div class="c1">
            {{form.hidden_tag() }}
            Username: {{form.username}} 
        </div><br>
        <div class="c1">
            Email: {{form.email}} <br>
            Password: {{form.password}} 
        </div><br>
        <div class="c1"></div>
            {{form.submit}}
        </div> 
    </div>
        </form>
        <a style="margin-left: 650px;" href="{{url_for('login')}}">Already have an Account? Login</a>
    {% endblock body %}