{% extends 'layout.html' %} {% block title %} Turf Details {% endblock title %}
{% block body %}
<a
  class="btn btn-primary"
  style="margin: 0.5%"
  href="{{ url_for('dashboard') }}"
>
  Back
</a>
<h1 class="turfhead">{{ turf.turf_name }} Details</h1>
<h5 class="turfhead">Location: {{ turf.turf_location }}</h5>
<h5 class="turfhead">Phone: {{ turf.turf_phone }}</h5>

<div class="turftab">
  {% if hosted_games|length==0 %}
  <div class="alert alert-dark" role="alert">
    No games found! Host a game now.
  </div>
  {% else %}
  <h2>Hosted Games</h2>
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Game ID</th>
        <th>Sport</th>
        <th>Host Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for game in hosted_games %}
      <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.sports }}</td>
        <td>{{ game.host_name }}</td>
        <td>{{ game.game_time.strftime('%d-%m-%Y') }}</td>
        <td>{{ game.game_time.strftime('%H:%M') }}</td>
        <td>
          <a
            class="btn btn-success"
            href="{{ url_for('join_game', turf_id=turf.id, game_id=game.id) }}"
            >Join Game</a
          >
          {% if current_user.is_authenticated and current_user.username ==
          game.host_name and current_user.id == game.turf.user_id %}
          <form
            method="POST"
            action="{{ url_for('delete_game', game_id=game.id) }}"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <br />
  <!-- Host Game Option -->
  {% if current_user.is_authenticated %}
  <a class="btn btn-danger" href="{{ url_for('host_game', turf_id=turf.id) }}"
    >Host a Game</a
  >
  {% endif %}
</div>
{% endblock body %}
