{% extends 'layout.html' %} {% block title %}Turf Reviews for {{ turf.turf_name
}}{% endblock title %} {% block body %}
<div class="secbody">
<h1 class="turfhead">Turf Reviews for {{ turf.turf_name }}</h1>
<br />
{% if reviews |length==0 %}
<div class="alert alert-dark" role="alert">
  No reviews found!, write a review.
</div>

{% else %} {% for review in reviews %} {% for review in reviews %} Name: {{
review.user.username }}<br />
Rating: {{ review.rating }}<br />
Review: {{ review.review_text }}<br />
<hr />
{% endfor %} {% endfor %} {% endif %}
<a class="btn btn-primary" href="{{ url_for('write_review', turf_id=turf.id) }}"
  >Write a Review</a
>
</div>
{% endblock body %}
